*{
	margin: 0;
	padding: 0;
}
body{
	background: #14929b;
	font-family: arial, Helvetica;
}
.container{
	width: 1200px;
	background: blue;
	margin: 10px auto;
}
.superior{
	width: 1200px;
	height: 200px;
	padding: 0.8px;
	background: #006699;
	overflow: hidden;
}
.logo{
	float: left;
	width: 300px;
	padding: 35px;
}

.menu{
	width: 600px;
	height: 40px;
	border: 0px solid #ccc;
	float: right;
	margin-top: 150px;
	background: #006699;
}

.menu ul{}

.menu ul li{
	list-style: none;
	float: left;
}

.menu ul li a{
	text-decoration: none;
	padding: 10px 15px;
	border: 0px solid #ccc;
	color: #fff; 
}

.menu ul li a:hover{
	background: #fff;
	color: #006699;
	transition: background 1s, color 1s;
}
.opciones li{
	float: left;
	list-style: none;
}
.opciones li a{
	color: white;
	padding: 150px;
	text-decoration: none;
	border:100px solid white;
}
.opciones li a:hover{
	background: #0d356a;
}

.titulo{
	text-align: center;
	padding: 20px 0 15px 0;
	color: firebrick;
	font-size: 35px;
	border: solid black 1px;
	border-radius: 25px;
	background-image: linear-gradient(blue,white);
	margin-top: 20px;
	margin-right: 50px;
	margin-bottom: 20px ;
	margin-left: 50px;
}
.cuerpo{
	overflow: hidden;
	background-color: white; 
}

.caja{
	float: left;
	width: 380px;
	margin: 8px;
	border: 1px solid;
}
.sub{
	background: #1551a1;

}
.servicio{
	color: white;
	text-align: center;
	padding: 10px 0;
}
.efec:hover{
	width: 380px;
	opacity: 0.5;
	cursor: pointer;
}
.tex{
	padding: 15px;
	text-align: justify;
}
.boton{
	padding: 8px 0;
	margin: 20px; 
	color: white;
	background: #144a91;
	border-radius: 5px;
}
.boton:hover{
	background: #0c2c57;
	cursor: pointer;
}
.boton li a{
	color: white;
}
#texto1{
	width: 500px;
	height: 200px;
	margin: 0 auto;
	background-color: #ADADAD;
	padding: 10px;
	overflow: scroll;
}
.fin{
	background: #062348;
	overflow: hidden;
	color: white;
}
.izquierda{
	float: left;
	width: 550px;
	padding: 20px;
}
.derecha{
	float: left;
	width: 550px;
	padding: 20px;
}
.abajo{
	color: white;
	font-size: 13px;
	padding: 10px;

}
.sigue{
	text-align: center;
	color: white;
	padding: 15px;
}